# PHPStan für bin/analyse. Pfade relativ zu diesem Ordner.
parameters:
  level: 6
  phpVersion: 80100
  paths:
    - ../novemberkind-produkte.php
    - ../includes
  scanFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    # Action Scheduler für den Newsletter-Versand
    - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
  scanDirectories:
    - ../vendor
  treatPhpDocTypesAsCertain: false
